:root {
	--v-scroll-width: 0.45rem;
	--v-scroll-border: 0.5rem;
	--v-scroll-bg: rgba(255, 255, 255, 0.2);
	--v-scroll-hover-bg: rgba(255, 255, 255, 0.4);
	--v-scroll-thumb-border: 0.5rem;
}

$scroll-width: var(--v-scroll-width) !default;
$scroll-border: var(--v-scroll-border) !default;
$scroll-bg: var(--v-scroll-bg) !default;
$scroll-hover-bg: var(--v-scroll-hover-bg) !default;
$scroll-thumb-border: var(--v-scroll-thumb-border) !default;

/* width */
::-webkit-scrollbar {
	width: $scroll-width;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: $scroll-border;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background-color: $scroll-bg;
	border-radius: $scroll-thumb-border;
	transition: all 0.35s ease-in 0s;
	&:hover {
		background-color: $scroll-hover-bg;
		transition: all 0.35s ease-in 0s;
	}
}
